#red {
  background-color: red;
}
#blue {
  background-color: blue;
}
#yellow {
  background-color: yellow;
}
#green {
  background-color: green;
}
button {
  padding: 20px 50px;
  border: 3px solid transparent;
  font-size: 50px;
  cursor: pointer;
}
button:hover {
  border: 3px solid black;
}
