* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

section {
  background-image: url("/extra-page/about.jpeg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 150px 0;
}
.parent-div {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  align-items: center;
  margin-left: 200px;
  margin-right: 200px;
  color: white;
}
.single-div-one h4 {
  font-size: 20px;
  margin-bottom: 20px;
}
.single-div-one ul {
  margin: 20px 0;
  list-style-position: inside;
}
.single-div-one a {
  text-decoration: none;
  font-size: 19px;
  background-color: yellow;
  padding: 10px 30px;
  color: black;
  display: inline-block;
  margin-top: 17px;
  border-radius: 20px;
}
