* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.blog-tips {
  margin-top: 50px;
  margin-left: 5%;
  margin-right: 5%;
}
.blog-tips h2 {
  font-size: 30px;
  padding: 15px 0;
}
.blog-tips p {
  padding-bottom: 15px;
  font-size: 20px;
  line-height: 29px;
}
.blog-tips img {
  width: 90%;
  border: 3px solid #f52727;
}
.blog-tips ul {
  list-style-position: inside;
  padding: 15px 0;
}
.blog-tips ul li {
  padding: 5px 0;
}
.btn {
  text-decoration: none;
  background-color: #f52727;
  padding: 20px 30px;
  margin: 25px 0;
  display: block;
  max-width: 300px;
  width: 100%;
  text-align: center;
  color: aliceblue;
  border-radius: 20px;
  cursor: pointer;
}
