* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
section {
  background-color: #fa8cd4;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  padding-top: 240px;
}
.single-div-one {
  text-align: center;
}
.single-div-one h1 {
  font-size: 35px;
  margin-bottom: 20px;
}
.single-div-two {
  text-decoration: none;
}
.single-div-two i {
  color: black;
  font-size: 50px;
  padding: 20px 15px;
  width: 80px;
  height: 80px;
  transition: 0.5s ease;
}

.single-div-two i:hover {
  border: 2px solid white;
  padding: 15px 5px;
  border-radius: 50%;
  align-items: center;
  position: relative;
  color: #275bf5;
}

.back-btn {
  text-decoration: none;
}
.back-btn button {
  background-color: rgba(0, 0, 0, 0.877);
  color: white;
  font-size: 20px;
  padding: 20px 30px;
  text-align: center;
  border: none;
  margin: 30px auto;
  display: block;
  border-radius: 30px;
  transition: 0.5s ease;
  cursor: pointer;
}
.back-btn button:hover {
  background-color: #27f576dd;
  padding: 15px 25px;
}
