* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.parent-div {
  text-align: center;
  margin-top: 60px;
}
.single-div-one h2 {
  font-size: 40px;
}

.single-div-two {
  margin-top: 120px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  color: white;
  margin-left: 200px;
  margin-right: 200px;
}
.single-card {
  background-color: #27f561;
  padding: 40px 20px;
}
.single-card h3 {
  font-size: 30px;
}
