* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.parent-div {
  text-align: center;
  margin-top: 60px;
}

.single-div-two {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  color: white;
}
