* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  overflow-x: hidden;
  width: 100%;
}

.parent-div {
  text-align: center;
  margin-top: 60px;
}

.single-div-one h2 {
  font-size: 28px;
  border: 2px solid #27f561;
  padding: 15px 0;
  width: 100%;
  max-width: 400px;
  margin: auto;
}

.single-div-two {
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 0 10px;
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.single-card {
  background-color: #27f561;
  padding: 40px 20px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s ease;
  width: 100%;
}
.single-card:hover {
  background-color: aqua;
}
.single-card h3 {
  font-size: 20px;
}

.back-btn {
  text-decoration: none;
}
.back-btn button {
  background-color: #8427f5;
  margin-top: 30px;
  padding: 20px 30px;
  border: none;
  border-radius: 20px;
  font-size: 20px;
  transition: 0.5s ease;
  color: white;
}
.back-btn button:hover {
  background-color: aqua;
}

/* -------- Responsive -------- */

/* Tablet */
@media (max-width: 992px) {
  .single-div-two {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Mobile */
@media (max-width: 688px) {
  .single-div-two {
    grid-template-columns: 1fr;
    padding: 0 10px;
  }

  .single-div-one h2 {
    font-size: 24px;
    max-width: 280px;
  }
}
