*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-image:
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url('photo/light-skyscraper-downtown-architecture-business.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    align-items: center;
    background-position: center;

}