* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-image: 
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url('photo/light-skyscraper-downtown-architecture-business.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  align-items: center;     
  
}

header{
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 30px 4%;
}
nav ul li{
    display: inline-block;
    padding: 0px 12px;
    font-size: 17px;
    cursor: pointer;
    letter-spacing: 1px;
}
.nav-logo h3{
    padding-right: 55px;
    font-size: 26px;
    letter-spacing: 2px;
    font-weight: 100;
}
.nav-btn-one button{
    padding: 8px 20px;
    margin-right: 16px;
    background-color: #1C9141;
    color: white;
    border: none;
    letter-spacing: 1px;
    transition: 0.5s;
    cursor: pointer;
}
.nav-btn-one button:hover{
    background-color: #13622c;
}
.nav-btn-two button{
    padding: 8px 20px;
    background-color: #DE5A4B;
    color: white;
    border: none;
    letter-spacing: 1px;
    transition: 0.5s;
    cursor: pointer;
}
.nav-btn-two button:hover{
    background-color: #9c3e33;
}

/* FIRST SECTION CODE START  */
.section-log-h2{
    font-size: 70px;
    color: rgba(255, 255, 255, 0.893);
   font-family: 'Segoe UI';
    padding: 40px 30px;
    
}