* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 30px 7%;
  align-items: center;
  background-color: whitesmoke;
}
nav ul li {
  display: inline-block;
  padding: 0px 10px;
  font-size: 19px;
  cursor: pointer;
  transition: 0.4s;
}
nav ul li:hover {
  color: blueviolet;
}
.icon-div a {
  text-decoration: none;
}
.icon-div a i {
  margin: 0px 5px;
  padding: 9px 10px;
  font-size: 23px;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 20px;
  transition: 0.5s;
  color: #e85d41;
}
.icon-div a i:hover {
  color: rgb(0, 0, 0);
}
.nav-logo i {
  color: #e85d41e8;
}

/* FIRST SECTION CODE START  */
section {
  background: #ede7e7ec;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.06);
  height: 100vh;
}

.sec-logo {
  text-align: center;
  font-size: 38px;
  padding: 25px 10px;
  cursor: pointer;
}
.sec-logo span {
  background-color: #e85d41;
  color: #fff;
  padding: 12px 10px;
  border-radius: 10px 30px;
}

.parent-div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 35px;
  margin: 10px auto;
  width: 1000px;
}
.single-div-one {
  width: 100%;
  border: 2px solid black;
  height: 100%;
  padding: 25px 20px;
  height: 450px;
  text-align: center;
  border-radius: 30px;
}
.single-div-one img {
  width: 100%;
  height: 58%;
}
.single-div-one h3 {
  font-size: 20px;
  letter-spacing: 1px;
  padding: 12px 0;
}
.single-div-one p {
  line-height: 23px;
  color: rgba(0, 0, 0, 0.847);
  font-size: 17px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding-bottom: 13px;
}
.single-div-one a button {
  padding: 10px 20px;
  font-size: 19px;
  margin-bottom: 10px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  cursor: pointer;
  transition: 0.7s;
  border-radius: 15px;
}
.single-div-one a button:hover {
  background-color: rgba(0, 0, 0, 0.089);
  border-radius: 30px;
}
