*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
}
nav ul li {
    display: inline-block;
    padding: 0px 20px;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.865);
    cursor: pointer;
}
.nav-btn{
    text-decoration: none;

}
.nav-btn button{
    background-color: #27D6F5;
    padding: 20px 35px;
    font-size: 19px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.5s;
}
.nav-btn button:hover{
    background-color: #27d6f5b9;
}
header h2{
    font-size: 20px;
}
header h2 span{
    color: #27D6F5;
    font-size: 25px;
}

/* First Section Code Start  */

.parent-div{
    display: flex;
    justify-content: space-between;
    
}
.single-div-one{
    padding-top: 50px;
    padding-left: 70px;
}
.single-div-one h3{
    font-size: 45px;
    padding: 20px 0;
}
.single-div-one h3 span{
    color: #27D6F5;
}
.single-div-one h4{
    font-size: 37px;
    padding-bottom: 20px;
}
.single-div-one p{
    text-align: justify;
    letter-spacing: 1px;
    line-height: 23px;
    
}
.single-div-two{
    margin-right: 50px;
    margin-bottom: 30px;
}
.btn-two-div{
    padding: 40px 0;
}
.one-number-btn{
    text-decoration: none;
}
.one-number-btn button{}