* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 8%;
  border-bottom: 1px solid black;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.4);
}
nav ul li {
  display: inline-block;
  padding: 0px 10px;
  cursor: pointer;
  font-size: 20px;
  border-bottom: 2px solid transparent;
  transition: border-color 0.4s ease;
}
nav ul li:hover {
  border-color: green;
}
header h2 i {
  color: green;
  font-size: 50px;
  position: absolute;
  top: 19px;
  left: 58px;
}
.icon-search input {
  border: none;
  outline: none;
  font-size: 18px;
}
.icon-search {
  border: 2px solid black;
  padding: 14px;
  border-radius: 20px;
}
.btn-icon h5 {
  display: inline-block;
  margin: 0px 10px;
  font-size: 19px;
  cursor: pointer;
}
.btn-icon h5 i {
  color: green;
  font-size: 20px;
}

/* FIRST SECTION  */

.first-section {
  background-image: url(photo/colourful-packets-decorated-leaves.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  object-fit: cover;
  height: 90vh;
}

.parent-div {
  width: 800px;
  margin-left: 170px;
  padding-top: 100px;
}
.parent-div h1 {
  font-size: 70px;
  color: #e3cdcd;
}
.parent-div p {
  color: rgba(202, 214, 214, 0.879);
  font-size: 25px;
  padding: 20px 0;
  letter-spacing: 1px;
}
.parent-div a button {
  font-size: 20px;
  padding: 20px 27px;
  border: none;
  background-color: green;
  color: white;
  border-radius: 10px 30px;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.5s;
}
.parent-div a button:hover {
  background-color: rgba(1, 110, 1, 0.906);
}
