* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #edc0c0;
  font-family: Arial, Helvetica, sans-serif;
}
header {
  text-align: center;
}
header nav ul li {
  display: inline-block;
  padding: 20px 35px;
  margin-top: 10px;
  text-transform: uppercase;
  font-size: 20px;
  cursor: pointer;
  transition: 0.4s;
}
header nav ul li:hover {
  color: crimson;
}

/* FIRST SECTON CODE START  */
.parent-div {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  width: 80%;
  margin: 50px auto;
  padding: 20px;
}
.single-div-two img {
  width: 300px;
  margin: 10px;
  border: 2px solid #f235e9;
}

.single-div-one {
  padding-left: 20px;
  padding-top: 40px;
}
.single-div-one h2 {
  font-size: 75px;
  color: rgba(0, 0, 0, 0.824);
  padding: 20px 0;
  letter-spacing: 1px;
}
.single-div-one p {
  width: 500px;
  font-size: 22px;
  line-height: 32px;
  color: rgba(0, 0, 0, 0.824);
}
