* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: white;
}
.parent-div {
  display: flex;
  justify-content: space-between;
  padding: 50px 70px;
  max-width: 1100px;
  width: 90%;
  margin: auto;
}
section h2 {
  text-align: center;
  padding: 30px 0;
  font-size: 50px;
}
.single-card-two {
  max-width: 500px;
}
.single-card-two img {
  width: 100%;
}
.single-card-one h3 {
  padding: 20px 0;
  font-size: 35px;
}
.single-card-one p {
  padding-bottom: 20px;
}
.back-btn {
  text-decoration: none;
}
.back-btn button {
  padding: 20px 40px;
  font-size: 20px;
  border: none;
  background-color: aquamarine;
  cursor: pointer;
  border-radius: 20px;
  transition: 0.5s ease;
}
.back-btn button:hover {
  background-color: rgb(99, 205, 169);
}
.single-card-one h3 span {
  color: cyan;
}

/* RESPONSIVE CODE START  */

@media (max-width: 599px) {
  .parent-div {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
    padding: 10px 50px;
  }
  section h2 {
    font-size: 30px;
    padding-top: 40px;
  }
  .single-card-one h3 {
    font-size: 50px;
  }
  .single-card-one p {
    font-size: 17px;
    line-height: 20px;
  }
  .back-btn button {
    padding: 15px;
  }
  .single-card-two img {
    width: 270px;
  }
}
