*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #E8C5FC;
    font-family: Arial;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 10%;
}
nav ul li{
    display: inline-block;
    padding: 0px 10px;
    font-size: 19px;
}
header h2 span{
    color: rgba(255, 0, 0, 0.918);
}
header h2{
    border: 2px solid black;
    padding: 10px 20px;
}

/* First Section Code Start  */
.parent-div{
    display: flex;
    justify-content: space-between;
}

.single-div-two img{
    width: 500px;
    margin-right: 80px;
}
.single-div-one{
    padding-top: 150px;
    padding-left: 50px;
}
.single-div-one h3{
    font-size: 48px;
    padding-bottom: 20px;
    margin-left: 10px;
}
.single-div-one p{
    padding: 20px;
    letter-spacing: 1px;
    line-height: 25px;
    
}
.ex-btn{
    text-decoration: none;
}
.ex-btn button{
    background-color: #fe5f3f;
    padding: 15px 35px;
    margin-left: 15px;
    font-size: 20px;
    border: none;
    border-radius: 20px;
    transition: 0.5s;
}
.ex-btn button:hover{
    background-color: #fe5f3fbd;
}