* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
header {
  background-color: #001a33; /* Dark navy blue */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 30px;
  color: white;
}
nav ul li {
  display: inline-block;
  margin: 0px 14px;
  font-size: 23px;
  cursor: pointer;
  transition: 0.3s;
}
nav ul li:hover {
  color: #0d72d0;
}
.Login button {
  margin: 0px 10px;
  padding: 14px 20px;
  font-size: 17px;
  border-radius: 20px;
  background-color: #001a33;
  color: white;
  border: 2px solid rgba(245, 245, 245, 0.769);
  cursor: pointer;
  transition: 0.4s;
}
.Login button:hover {
  color: rgba(255, 255, 255, 0.842);
}
.SignUp button {
  margin: 0px 10px;
  padding: 14px 20px;
  font-size: 17px;
  border-radius: 20px;
  background-color: #0d72d0;
  color: white;
  border: none;
  cursor: pointer;
  transition: 0.4s;
}
.SignUp button:hover {
  background-color: #0d72d0d6;
}

.nav-main-h2 i {
  color: #0d72d0;
  font-size: 46px;
  align-items: center;
}
#Ra {
  font-size: 23px;
  position: absolute;
  top: 32px;
  left: 100px;
}
