* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header {
  background-color: blueviolet;
  padding: 30px 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header h2 {
  color: white;
  cursor: pointer;
  font-size: 26px;
  letter-spacing: 1px;
}

nav ul li {
  display: inline-block;
  padding: 0px 20px;
}
nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  border-bottom: 2px solid transparent;
  transition: 0.2s;
  padding-bottom: 5px;
}
nav ul li a:hover {
  border-bottom: 2px solid red;
}
.nav-logo-div a {
  text-decoration: none;
}
.nav-logo-div button {
  background-color: crimson;
  color: white;
  padding: 15px 30px;
  margin: 0px 10px;
  border: none;
  cursor: pointer;
  font-size: 20px;
  border-radius: 20px;
  transition: 0.5s ease;
}
.nav-logo-div button:hover {
  background-color: rgb(171, 17, 48);
}

@media (max-width: 500px) {
  header {
    display: block;
  }
  nav ul li {
    display: block;
    text-align: center;
    padding: 7px 0;
  }
  header h2 {
    padding: 15px 0;
    text-align: center;
  }
  .nav-logo-div {
    padding-top: 20px;
    text-align: center;
  }
}
