* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header {
  background-color: blueviolet;
  padding: 30px 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul li {
  display: inline-block;
  padding: 0px 20px;
}
nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}
