*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.input-div{
    display: block;
}
section{
    margin-top: 120px;
    margin-left: 40%;

}
section h2{
    font-size: 38px;
    padding: 20px 0;
}
.one{
    font-size: 20px;
    padding: 15px 30px;
    text-align: left;
    border: 2px solid rgba(255, 0, 0, 0.874);
    
}