*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #f5f5f5;
}
.parentdiv{
    width: 90%;
    max-width: 850px;
    background-color: #fff;
    margin: 70px auto;
    padding: 30px;
    text-align: center;
}
form input{
    display: block;
    width: 100%;
    padding: 15px 10px;
    margin: 20px 0;
    border-radius: 15px;
    border: none;
    background-color:aliceblue;
}
form textarea{
        display: block;
    width: 100%;
    padding: 15px 10px;
    margin: 20px 0;
    border-radius: 15px;
    border: none;
    background-color:aliceblue ;
}