#red {
  background-color: red;
}
#green {
  background-color: green;
}
#blue {
  background-color: blue;
}
button {
  padding: 20px 50px;
  cursor: pointer;
  border: 3px solid transparent;

  font-size: 50px;
}
button:hover {
  border: 3px solid black;
}
