*{
    padding: 0;
    margin: 0;
    box-sizing: border-box ;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 9%;
}
nav ul li{
    display: inline-block;
    padding: 0px 10px;
    font-size: 18px;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.909);
    transition: 0.4s;
}
nav ul li:hover{
    color: black;
}
.nav-con-btn button{
   padding: 12px 20px;
   border-radius: 20px;
   background-color: #E03AA6;
   border: none;
   color: white;
   color: 17px;
   cursor: pointer;
   transition: 0.5s;
}
.nav-con-btn button:hover{
    background-color: #a82c7d;
}

/* SECTION CODE START  */
.single-div-two img{
    width: 800px;
}
.parent-div{
    display: flex;
    justify-content: space-between;
    padding: 50px 100px;
}