*{
    padding: 0;
    margin: 0;
    box-sizing: border-box ;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 9%;
}
nav ul li{
    display: inline-block;
    padding: 0px 10px;
    font-size: 18px;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.909);
    transition: 0.4s;
}
nav ul li:hover{
    color: black;
}
.nav-con-btn button{
   padding: 12px 20px;
   border-radius: 20px;
   background-color: #E03AA6;
   border: none;
   color: white;
   color: 17px;
   cursor: pointer;
   transition: 0.5s;
   font-size: 18px;
}
.nav-con-btn button:hover{
    background-color: #a82c7d;
}

/* SECTION CODE START  */
.single-div-two img{
    width: 500px;

}
.parent-div{
    display: flex;
    justify-content: space-between;
    padding: 40px 100px;
}
.single-div-one h3{
    font-size: 70px;
    color: rgba(0, 0, 0, 0.863);
    letter-spacing: 1px;
    padding-bottom: 10px;
}
.single-div-one p{
    padding-top: 10px;
    font-size: 18px;
    letter-spacing: 1px;
    color: rgba(0, 0, 0, 0.947);
    line-height: 25px;
}
.gs-btn button{
    margin-top: 20px;
    padding: 15px 20px;
    border: none;
    background-color: #E35C42;
    color: white;
    font-size: 19px;
    letter-spacing: 2px;
    margin-right: 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}
.gs-btn button:hover{
    background-color:#b04b36 ;
}
.wv-btn{
     margin-top: 20px;
    padding: 15px 20px;
    color: black ;
    font-size: 17px;
    letter-spacing: 2px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    transition: 0.5s;
   
}
.wv-btn:hover{
    background-color: rgba(0, 0, 0, 0.217);
}