* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 10%;
  background-color: bisque;
}
.nav-h2 {
  font-size: 35px;
  cursor: pointer;
}
.nav-h2 span {
  color: green;
}

nav ul li a {
  text-decoration: none;
  font-size: 19px;
  color: black;
  letter-spacing: 1px;
  font-weight: 500;
  transition: 0.5s ease;
}
nav ul li a:hover {
  color: blue;
}
nav ul li {
  display: inline-block;
  padding: 0px 15px;
}

.nav-btn button {
  border: none;
  color: aliceblue;
  background-color: black;
  border-radius: 30px;
  padding: 15px 30px;
  font-size: 20px;
  width: 140px;
  cursor: pointer;
  transition: 0.5s ease;
}
.nav-btn button:hover {
  background-color: rgb(38, 37, 37);
}
