* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 10%;
  background-color: bisque;
}
.nav-h2 {
  font-size: 35px;
  cursor: pointer;
}
.nav-h2 span {
  color: green;
}

nav ul li a {
  text-decoration: none;
  font-size: 19px;
  color: black;
  letter-spacing: 1px;
  font-weight: 500;
  transition: 0.5s ease;
}
nav ul li a:hover {
  color: blue;
}
nav ul li {
  display: inline-block;
  padding: 0px 15px;
}

.nav-btn button {
  border: none;
  color: aliceblue;
  background-color: black;
  border-radius: 30px;
  padding: 15px 30px;
  font-size: 20px;
  width: 140px;
  cursor: pointer;
  transition: 0.5s ease;
}
.nav-btn button:hover {
  background-color: rgb(38, 37, 37);
}

/* FIRST SECTION CODE START  */
.first-section {
  background-color: #8ed4f5;
  height: 90vh;
}

.first-sec-div {
  width: 700px;
  height: 400px;
  border: 3px solid black;
  border-radius: 50px 100px;
  position: absolute;
  top: 200px;
  left: 25%;
  padding: 20px;
}
.first-sec-div h2 {
  font-size: 35px;
  text-align: center;
  padding: 20px 0;
  color: #122b2e;
  margin-top: 30px;
}
.first-sec-div a button {
  margin: 0 auto;
  display: block;
  font-size: 20px;
  padding: 20px;
  margin-top: 50px;
  width: 300px;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.5s ease;
}
.first-sec-div a button:hover {
  background-color: #64e39d;
}

.first-sec-div a {
  text-decoration: none;
}

/* SECOND SECTION CODE START  */

.second-section {
  background-color: #8ef59e;
  height: 90vh;
  padding-top: 100px;
}
.second-sec-div {
  width: 700px;
  height: 400px;
  border: 3px solid black;
  border-radius: 50px 100px;
  padding: 20px;
  margin: auto;
}
.second-sec-div h2 {
  font-size: 35px;
  text-align: center;
  padding: 20px 0;
  color: #122b2e;
  margin-top: 30px;
}
.second-sec-div a {
  text-decoration: none;
}
.second-sec-div a button {
  margin: 0 auto;
  display: block;
  font-size: 20px;
  padding: 20px;
  margin-top: 50px;
  width: 300px;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.5s ease;
}
.second-sec-div a button:hover {
  background-color: #e364e3;
}
