*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 20px 9%;
    align-items: center;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 0px 10px;
    font-size: 18px;
}
.nav-main-logo{
    font-size: 20px;

}
.icon-div a{
    text-decoration: none;
}
.icon-div a i{
    margin: 0px 10px;
    font-size: 22px;
}