*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 20px 9%;
    align-items: center;
    background-color: #F9F6F1;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 0px 10px;
    font-size: 18px;
    border: none;
    
}
nav ul li:hover{
    border-bottom: 2px solid rgba(255, 0, 0, 0.941);
}
.nav-main-logo{
    font-size: 20px;

}
.icon-div a{
    text-decoration: none;
}
.icon-div a i{
    margin: 0px 10px;
    font-size: 22px;
    transition: 0.5s;
       color: black;

}
.icon-div a i:hover{
    color:darkslategray ;
}
.book-btn{
    text-decoration: none;
}
.book-btn button{
    background-color: black;
    color: white;
    padding: 17px 30px;
    margin-left: 20px;
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
}
.book-btn button:hover{
    background-color: rgb(27, 26, 26);
    border: 2px solid lawngreen;
}
.first-section{
    background-color: #ead5bec3;
    height: 100vh;
    display: flex;
    justify-content: space-between;
}
.first-two img{
    width: 402px;
    margin-right: 100px;
}
.first-one{
    margin-left: 100px;
    margin-top: 70px;
}
.first-one h1{
    font-size: 100px;
    font-weight: 250;
    font-family: 'Times New Roman', Times, serif;

}
.first-one h3{
    font-size: 50px;
    font-weight: 200;
    font-family: 'Times New Roman', Times, serif;
}
.first-one p{
    padding-top: 20px;
    width: 600px;
    font-size: 17px;
    line-height: 26px;
}
.learn-btn{
    text-decoration: none;
}
.learn-btn button{
    margin-top: 22px;
    background-color: black;
    color: white;
    padding: 20px 40px;
    border-radius: 20px;
    transition: 0.5s;
    font-size: 19px;
}
.learn-btn button:hover{
    border: 3px solid lawngreen;
    background-color: rgb(26, 23, 23);
}