*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;padding: 20px 10%;
    border-bottom: 1px solid rgba(30,30,30,0.6);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2), 0 0 15px rgba(0, 128, 255, 0.2);

}
.icon-logo{
    display: flex ;
}
.icon-logo i{
    margin: 0px 15px;
    font-size: 35px;
    color: #F76243;
}
.icon-logo h2{
    font-size: 27px;
    cursor: pointer;
}
nav ul li{
    display: inline-block;
    padding: 0px 15px;
    cursor: pointer;
    font-size: 17px;
    font-weight: bold;
}
.s-r-btn{
    text-decoration: none;
}
.s-r-btn button{
    font-size: 18px;
    padding: 13px 25px;
    margin-right: 30px;
    cursor: pointer;
    border-radius: 12px;
    transition: 0.5s;
    border: none;
}
.s-r-btn button:hover{
    background-color:rgb(177, 177, 166);
}
.s-r-btn-2{
    text-decoration: none;
}
.s-r-btn-2 button{
    font-size: 20px;
    padding: 13px 25px;
    background-color: #F76243;
    color: aliceblue;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.5s;
}
.s-r-btn-2 button:hover{
    background-color: #bd4e37e2;
}


/* FIRST SECTION CODE START  */
.parent-div{
    display: flex;
    justify-content: space-between;
    margin: 0px 70px;
}
.second-div img{
    width: 740px;
    margin-top: 50px;
}
.first-div{
    margin-top: 100px;
    padding-left: 30px;
}
.first-div h4{
   font-size: 30px;
   padding: 16px 0;
}
.first-div h1{
    font-size: 50px;
    padding-bottom: 17px;
}
.first-div h1 span{
    color: #F76243;
}
.first-div p{
    padding-bottom: 17px;
    line-height: 27px;
    letter-spacing: 1px;
    color: rgba(0, 0, 0, 0.87);
}
.btn-one{
    text-decoration: none;
}
.btn-one button{
    padding: 20px 35px;
    background-color: #F76243;
    font-size: 18px;
    margin-top: 15px;
    border: none;
    border-radius: 3px;
    margin-right: 25px;
    color: white;
    font-weight: bold;
    transition: 0.5s;
    letter-spacing: 1px;
    cursor: pointer;
}
.btn-one button:hover{
    background-color: #953926e8;
    border: 2px solid rgb(111, 215, 8);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2), 0 0 15px rgba(0, 128, 255, 0.2);
}
.btn-two{
    text-decoration: none;
}
.btn-two button{
    padding: 20px 35px;
    background-color: black;
    font-size: 18px;
    margin-top: 15px;
    border: none;
    border-radius: 3px;
    color: white;
    font-weight: bold;
    transition: 0.5s;
    letter-spacing: 1px;
    cursor: pointer;
}
.btn-two button:hover{
 background-color: rgb(53, 51, 51);
 border: 2px solid lawngreen;
 box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2), 0 0 15px rgba(0, 128, 255, 0.2);

}
