*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;padding: 20px 10%;
}
.icon-logo{
    display: flex ;
}
.icon-logo i{
    margin: 0px 15px;
    font-size: 35px;
    color: #F76243;
}
.icon-logo h2{
    font-size: 27px;
    cursor: pointer;
}
nav ul li{
    display: inline-block;
    padding: 0px 15px;
    cursor: pointer;
    font-size: 17px;
    font-weight: bold;
}