* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-image: url("photo/web-bg-banner.jpg");
  background-size: cover;
  align-items: center;
  background-repeat: no-repeat;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 20px 15%;
}
header h2 {
  font-size: 30px;
  letter-spacing: 1px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 1000;
  cursor: pointer;
  color: #ffffffe1;
}
header h2 span i {
  color: #27f55b;
}
header a button {
  background-color: #27f55aa1;
  color: #fff;
  font-size: 17px;
  padding: 15px 30px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.5s;
}
header a button:hover {
  background-color: rgb(201, 185, 185);
}

/* FIRST SECTION CODE START  */

.parent-div {
  display: flex;
  justify-content: space-between;
  width: 1000px;
  margin-top: 50px;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
}
.single-div-two img {
  width: 270px;
  height: 270px;
  object-fit: scale-down;
  border: 2px solid whitesmoke;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.799);
  margin-left: 90px;
  cursor: pointer;
}

.single-div-one h1 {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 40px;
  padding: 20px 0;
  color: rgba(240, 248, 255, 0.902);
  cursor: pointer;
}
.single-div-one p {
  color: rgba(240, 248, 255, 0.902);
  padding-bottom: 20px;
  font-size: 25px;
  line-height: 40px;
}
.Watch button {
  background-color: #27f55ad7;
  padding: 15px 30px;
  border: none;
  color: rgba(255, 255, 255, 0.824);
  font-size: 19px;
  margin-right: 15px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s;
}
.Watch button:hover {
  background-color: #18a83cb9;
}
.Download button {
  padding: 15px 30px;
  border: 1px solid white;
  color: #fff;
  font-size: 19px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s;
  background-color: rgba(0, 0, 0, 0.523);
}
.Download button:hover {
  background-color: rgba(0, 0, 255, 0.587);
}

.parent-photo-div {
  width: 1000px;
  height: 250px;
  margin: 0px auto;
}

.single-photo-div {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 30px;
}
.single-photo-div img {
  width: 100%;
  height: 100%;
  border: 2px solid white;
  cursor: pointer;
  transition: 0.5s;
}

.parent-photo-div h3 {
  color: aliceblue;
  padding-bottom: 20px;
  font-size: 27px;
}
