* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-image: url("photo/web-bg-banner.jpg");
  background-size: cover;
  align-items: center;
  background-repeat: no-repeat;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 20px 10%;
}
header h2 {
  font-size: 30px;
  letter-spacing: 1px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 1000;
  cursor: pointer;
  color: #ffffffe1;
}
header h2 span i {
  color: #27f55b;
}
header a button {
  background-color: #27f55aa1;
  color: #fff;
  font-size: 17px;
  padding: 15px 30px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.5s;
}
header a button:hover {
  background-color: rgb(201, 185, 185);
}

/* FIRST SECTION CODE START  */

.parent-div {
  display: flex;
  justify-content: space-between;
  width: 1000px;
  margin-top: 50px;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
}
.single-div-two img {
  width: 600px;
  height: 300px;
  object-fit: scale-down;
}

.single-div-one h1 {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 40px;
  padding: 20px 0;
  color: rgba(240, 248, 255, 0.902);
}
